@import "tailwindcss";

:root {
  --primary-color-light: #0ea5e9; /* Sky blue - azul cielo */
  --primary-color-dark: #034461;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  min-width: 100vw;
  min-height: 100vh;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100;
  height: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--primary-color-dark);
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#app {
  margin: 0 auto;
  /*padding: 2rem;*/
  text-align: center;
}

@media (prefers-color-scheme: light) {
  h1 {
    color: var(--primary-color-light);
    text-shadow: none;
  }
}